@model DSJ.Models.TblTicket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblTicket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaApertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaApertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraApertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraApertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRevision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRevision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaProceso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProceso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblCuenta.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCuenta.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblCuenta1.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCuenta1.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblModulo.Modulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblModulo.Modulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblEstado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblEstado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblPrioridad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPrioridad.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
